body {
  position: relative;
  background: url(/Background-Pic/Pic3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Body Content - Grid */
.gridbox {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-right: 200px;
  margin-bottom: 100px;
  margin-top: 150px;
  margin-left: 150px;
  padding: 25px;
  height: 400px;
  width: 500px;
  border-width: 1px;
  flex-shrink: 1;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgb(92, 99, 99);
  background-color: white;
}
/* Login Box */
.login-box {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 75px 75px;
}
/* UserName */
.user,
.pass {
  display: flex;
  flex-direction: row;
}
.pass-box,
.user-box {
  margin-top: 5px;
}
.username {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: rgb(84, 85, 85);
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 5px;
}
.user-label,
.pass-label {
  margin-bottom: 30px;
  font-size: 20px;
  height: 25px;
  border-style: solid;
  border-color: rgb(92, 99, 99);
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  transition: box-shadow, opacity 0.15s;
}
.user-label::placeholder,
.pass-label::placeholder {
  font-size: 15px;
}
/* Password */
.password {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: rgb(84, 85, 85);
  margin-right: 35px;
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 10px;
  padding-top: 10px;
}
.pass-label:hover,
.user-label:hover {
  box-shadow: inset 1px 1px 1px rgb(71, 66, 66);
  opacity: 0.5;
}
.eye {
  height: 26px;
  width: 28px;
  margin-bottom: 85px;
  border: solid;
  border-width: 2px;
  cursor: pointer;
  border-style: solid;
  border-color: rgb(92, 99, 99);
  border-radius: 5px;
  position: absolute;
  bottom: 160px;
  margin-top: 1px;
  margin-left: 372px;
  background-color: rgb(198, 187, 187);
}
.eye-icon {
  width: 20px;
  height: 20px;
  z-index: 20;
  padding-left: 3px;
  padding-top: 3px;
}

/* CheckBox */
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: rgb(84, 85, 85);
}
#keep-singin {
  margin: 10px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  color: rgb(92, 99, 99);
}
/* Submit Button */
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-right: 30px;
}
.submit {
  flex: 1;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 8px;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  border-color: rgb(92, 99, 99);
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  background-color: rgb(84, 85, 85);
  color: white;
  border-style: solid;
  border-color: rgb(92, 99, 99);
  cursor: pointer;
  transition: background-color, opacity 0.15s;
}
.submit:hover {
  background-color: rgb(16, 16, 16);
  opacity: 0.5;
}
